body{
  background-image: url(bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-height:900px) {
  body{
    background-image: url(bg2.jpg);
    height: 1080px;
  }
}

section{
  font-family:幼圆,sans-serif;
  letter-spacing: 0.1em;
  background-color: rgba(0,0,0,0.3);
  border: solid;
  border-color: rgba(255,255,255,0.3);
  border-width: 15px;
  border-radius: 2em;
  height: auto;
  color: #c2c2c2;
  padding-top: 50px；
}
li{
  padding-top: 10px;
  padding-bottom: 10px;
}
table{
  font-weight: bold;
  width:70%;
}
td{
  padding-top: 10px;
  padding-bottom: 10px;
}
ul{
  list-style-type: square;
  padding-right: 15px;
}
hr{
  width: 90%;
}
.absenter{
  position: absolute;
  top: 50%;
  right: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.center
{
margin-left:auto;
margin-right:auto;
width:70%;
}
.clear{
  clear: both;
}
.subs{
  background-color: rgba(46,49,146,1);
  color: #c2c2c2;
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  border-radius: 1.2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  border: solid;
}
tr.thick{
  font-weight: bolder;
  background-color: rgba(255,255,255,0.7);
  color: black;
}
